<div class="modal fade" id="importPresetNodesModal" role="dialog" tabindex="-1" aria-labelledby="importPresetNodesModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importLocationModalLabel">Presets</h5>
            </div>
            <div class="modal-body" id="importLocationLayerBody">
                <div class="row">
                    <div class="col-md-12">
                        <label>Choose a preset level</label>
                        <div id="NodesPresetFile" class="custom-file">
                            {{!-- <label id="NodesFileLabel" class="custom-file-label" for="NodesImportPresetFile">Nodes data
                file</label>
                            <input type="radio" id="NodesImportPresetFile" class="custom-radio-input"> --}}
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="NodesImportPresetFile" value="world_level">World
                                <label class="form-check-label" for="world_level"></label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio2" name="NodesImportPresetFile" value="european_level">European level
                                <label class="form-check-label" for="european_level"></label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio3" name="NodesImportPresetFile" value="national_level">National Level
                                <label class="form-check-label" for="french_dep"></label>
                            </div>

                        </div>
                    </div>
                </div>
                <hr>
                <span id="NodesFileError"></span>
                <div id="NodesPresets" class="row" style="visibility:hidden">
                    <div class="col-md-12">
                        <p>Set nodes features:</p>
                    </div>
                    <div class="col-md-4" id="highLevel" style="visibility:hidden">
                        <p>
                            <label for="select">Dataset</label>
                            <select class="custom-select custom-selectPreset" id="world_level" style="display:none">
                <option value="world_countries">Countries</option>
                <option value="world_places">Populated places</option>
                <option value="world_megacities">World Megacities</option>
                <option value="world_cities">World Cities</option>
                <option value="world_airports">Airports</option>
                <option value="world_ports">Ports</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="european_level" style="display:none">
                <option value="NUTS_RG_20M_2021">NUTS 2021_3035</option>
                <option value="NUTS_0-without-outermost-regions-2020">NUTS 0 (version 2020)</option>
                <option value="NUTS_1-without-outermost-regions-2020">NUTS 1 (version 2020)</option>
                <option value="NUTS_2-without-outermost-regions-2020">NUTS 2 (version 2021)</option>
                <option value="NUTS_3-without-outermost-regions-2020">NUTS 3 (version 2021)</option>
                <option value="LAU_RG_01M_2020">LAU 2020</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="national_level" style="display:none">
                <option value="France_reg_2015">France's regions</option>
                <option value="France_dept_2015">France's departments</option>
                <option value="France_com">France's municipalities</option>
                <option value="France_iris_2019">France - division by IRIS</option>
                <option value="France_metropole_grand_paris">Grand Paris Municipality</option>
                <option value="USA_counties">United States of America</option>
                <option value="cameroon_regions">Cameroon's regions</option>
                <option value="cameroon_dept">Cameroon's departments</option>
                <option value="cameroon_arrondt">Cameroon's arrondissments</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="french_mun" style="display:none">
                <option value="iso_a2">code</option>
                <option value="iso_a3">libgeo</option>
              </select>
                        </p>
                    </div>
                    <div class="col-md-4" id="idSelection" style="visibility:hidden">
                        <p>
                            <label for="select">Node's ID</label>
                            <select class="custom-select custom-selectPreset" id="world_countriesID" style="display:none">
                <option value="ISO2">ISO2</option>
                <option value="ISO3">ISO3</option>
                <option value="ISONUM">ISONUM</option>
                <option value="NAMEen">NAMEen</option>
                <option value="NAMEfr">NAMEfr</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="world_placesID" style="display:none">
                <option value="ne_ID">ne_ID</option>
                <option value="name">name</option>
                <option value="adm1name">adm1name</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="world_megacitiesID" style="display:none">
                <option value="ne_ID">ne_ID</option>
                <option value="meganame">meganame</option>
                <option value="adm1name">adm1name</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="world_citiesID" style="display:none">
                <option value="ne_ID">ne_ID</option>
                <option value="name">name</option>
                <option value="adm1name">adm1name</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="world_airportsID" style="display:none">
                <option value="iata_code">iata_code</option>
                <option value="ne_id">ne_ID</option>
                <option value="name">name</option>
                <option value="name_en">name_en</option>
                <option value="name_fr">name_fr</option>
                <option value="abbrev">abbrev</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="world_portsID" style="display:none">
                <option value="ne_ID">ne_ID</option>
                <option value="name">name</option>
              </select> {{!-- European Level --}}
                            <select class="custom-select custom-selectPreset" id="NUTS_RG_20M_2021ID" style="display:none">
                <option value="NUTS_ID">NUTS_ID</option>
                <option value="NUTS_NAME">NUTS_NAME</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="NUTS_0-without-outermost-regions-2020ID" style="display:none">
                <option value="NUTS_ID">NUTS_ID</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="NUTS_1-without-outermost-regions-2020ID" style="display:none">
                <option value="NUTS_ID">NUTS_ID</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="NUTS_2-without-outermost-regions-2020ID" style="display:none">
                <option value="NUTS_ID">NUTS_ID</option>
                <option value="NAME_LATN">NAME_LATN</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="NUTS_3-without-outermost-regions-2020ID" style="display:none">
                <option value="NUTS_ID">NUTS_ID</option>
                <option value="NAME_LATIN">NAME_LATIN</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="LAU_RG_01M_2020ID" style="display:none">
                <option value="GISCO_ID">GISCO_ID</option>
                <option value="LAU_ID">LAU_ID</option>
                <option value="LAU_NAME">LAU_NAME</option>
              </select> {{!-- National Level --}}
                            <select class="custom-select custom-selectPreset" id="France_reg_2015ID" style="display:none">
                <option value="nom_reg">nom_reg</option>
                <option value="code_reg">code_reg</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="France_dept_2015ID" style="display:none">
                <option value="Id_geofla">Id_geofla</option>
                <option value="nom_dept">nom_dept</option>
                <option value="code_dept">code_dept</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="France_comID" style="display:none">
                <option value="codgeo">codgeo</option>
                <option value="libgeo">libgeo</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="France_iris_2019ID" style="display:none">
                <option value="IRIS">IRIS</option>
                <option value="CODE_IRIS">CODE_IRIS</option>
                <option value="NOM_IRIS">NOM_IRIS</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="France_metropole_grand_parisID" style="display:none">
                <option value="IDCOM">IDCOM</option>
                <option value="LIBCOM">LIBCOM</option>

              </select>
                            <select class="custom-select custom-selectPreset" id="USA_countiesID" style="display:none">
                <option value="ADM2_CODE">ADM2_CODE</option>
                <option value="NAME">NAME</option>
                <option value="NAME_ALT">NAME_ALT</option>
                <option value="CODE_LOCAL">CODE_LOCAL</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="cameroon_regionsID" style="display:none">
                <option value="ID">ID</option>
                <option value="name">name</option>
                <option value="ISO">ISO</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="cameroon_deptID" style="display:none">
                <option value="ID">ID</option>
                <option value="Name">Name</option>
              </select>
                            <select class="custom-select custom-selectPreset" id="cameroon_arrondtID" style="display:none">
                <option value="ID">ID</option>
                <option value="Name">Name</option>
              </select>
                        </p>
                    </div>

                </div>

                {{!--
                <div id="NodesFeaturesSelects" class="row" style="visibility:hidden">
                    <div class="col-md-12">
                        <p>Set nodes features:</p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <label for="select">Node's ID</label>
                            <select class="custom-select" id="NodeImportPresetID"></select>
                        </p>
                    </div>
                    <div class="col-md-4" id="NodesLatSelect" style="visibility:hidden">

                        <p>
                            <label for="select">Node's Latitude</label>
                            <select class="custom-select" id="NodeImportPresetLat">Latitude</select>
                        </p>
                    </div>
                    <div class="col-md-4" id="NodesLongSelect" style="visibility:hidden">
                        <p>
                            <label for="select">Node's Longitude</label>
                            <select class="custom-select" id="NodeImportPresetLong">Longitude</select>
                        </p>
                    </div>
                </div> --}}
            </div>
            <hr>
            <div class="modal-footer">
                <button class="btn btn-dark btn-block justify-content-center mt-2" type="button" id="ImportNodesPreset" data-dismiss="modal" disabled>Next</button>
            </div>
        </div>
    </div>
</div>